#home {
	background-image: url(../../assests/home-wallpaper.webp);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.3;
	z-index: -1;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#home .home {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 auto;
    align-items: center;
	justify-content: center;
}
.home{
    color: white;
    display: flex;
    flex-direction: column;
}
.title{
    padding: 20px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
input{
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}
button{
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: rgb(100, 22, 189);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.city{
	width: 700px;
	height: 400px;
	position: relative;
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 8px;
}

.top{
	height: 60%;
	width: 100%;
	color: white;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(20, 132, 207);
	.city-name{
		font-size: 2em;
	}
}

.top .top-divide{
	padding: 20px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 50px;
	.divide-right{
		.temparatue{
			padding: 0 0 10px 0;
		}

	}
}
.top-divide .divide-left{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.temparatue{
	font-size: 2em;
	font-weight: 400;
}
.sm{
	font-size: 1.1em;
	font-weight: 400;
}

.bottom{
	height: 40%;
	width: 100%;
	color: white;
	background-color: rgb(46, 58, 66);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 50px;
	.speed-navigation{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.navi-icon{
			padding-bottom: 5px;
		}
	}
}


@media screen and (max-width: 768px) {
	.city{
		width: 250px;
		height: 500px;
		position: relative;
		padding: 20px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: none;
		border-radius: 8px;
	}
	.top{
		height: 60%;
		width: 100%;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: rgb(20, 132, 207);
	}
	.top .top-divide{
		padding: 20px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
	.bottom{
		height: 40%;
		width: 100%;
		padding: 10px 0;
		color: white;
		background-color: rgb(46, 58, 66);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 15px;
	}
}